# Fix for https://stackoverflow.com/questions/70374005/invalid-options-object-dev-server-has-been-initialized-using-an-options-object
DANGEROUSLY_DISABLE_HOST_CHECK=true
REACT_APP_KEYCLOAK_URL=https://auth.star.vote:8443/realms/STARVotingDev/protocol/openid-connect