// Copied from the brand guide here, https://docs.google.com/presentation/d/1Ij009mB1jjxzw8fki1K7IiKIQ0pnHDJ8-OQwjeTVkYw/edit?usp=sharing
$star-orange: #FFBD39;
$star-white: #FFFFFF;
$star-dkblue: #026A86;
$star-ltblue: #2AA2B3;
$star-red: #E13458;
$star-black: #000000;
$star-gray: #272727;
$star-green: #6AA84F;

$body-background-color: $star-white;
$sidebar-color: #2B344A;
$border-color: $star-black;

$body-text-color: $star-gray;
$body-heading-color: $star-dkblue;
$nav-child-link-color: $star-ltblue;
$search-result-preview-color: $star-dkblue;

$link-color: $star-ltblue;
$btn-primary-color: $star-red;
$base-button-color: $star-ltblue;

$code-background-color: $grey-lt-300;
$search-background-color: $star-gray;
$table-background-color: $star-white;
$feedback-color: darken($sidebar-color, 3%);