* {
  /* NOTE: these variables are named based on where they're used
  but in the future we should consider reducing them and giving generic names*/

  /* NOTE: we also have colors defined in theme.js, the colors might be moved from
  css to theme.js in the future */

  /* https://docs.google.com/presentation/d/1NSAirKzmq4YyUPB56NR3pKiRTn3W9btwnUtHi_zteeU/edit#slide=id.g827b1a2992_5_86*/
  --ltbrand-blue: #5AC7D6FF;
  --ltbrand-green: #87C76AFF;
  --ltbrand-lime: #C4E44CFF;
  --ltbrand-yellow: #FFFF54FF;
  --ltbrand-orange: #FFA929FF;
  --ltbrand-red: #FF6069FF;

  --brand-purple: #4D2586;
  --brand-ltblue: #2AA2B3; 
  --brand-ltblue-comma: 42, 162, 179; /* comma version to be used within rgba */
  --brand-blue: #02627c;
  --brand-gold: #FFE156;
  --brand-red: #EE2C53;
  --brand-orange: #FF9900;
  --brand-green: #60B33C;
  --brand-black: #000000;
  --brand-white: #FFFFFF;

  /* https://docs.google.com/presentation/d/1NSAirKzmq4YyUPB56NR3pKiRTn3W9btwnUtHi_zteeU/edit#slide=id.g177cd3ac88b_0_0 */
  --brand-gray-5: #1F1F1F; /* Charcoal used in "How does STAR Voting Work?" graphic */
  --brand-gray-4: #666666; /* Bubbles on ballots */
  --brand-gray-3: #999999; /* Lines separating candidates on ballot */
  --brand-gray-2: #CCCCCC; /* Stars on STAR ballots */
  --brand-gray-1: #ECECEC; /* Highlight for alternating candidates on ballots */
  --brand-gray-alpha: #7B7B7B7D; /* For graying out candidates for the "How does STAR Voting Work?" Graphic (has transparency)

  /* teal / blue */
  --ballot-even-row-teal: #E3EDEF;
  --ballot-border-teal: #B5D0D4;
  --ballot-star-teal: #A2C4C9;
  --logo-teal: #76A5AF;
  --ballot-bubble-hover-ltblue: #B5EBEB;
  --login-form-border-blue: #4682B4; /*steelblue*/
  --ballot-race-icon-teal: #66A0AA; /* NOTE: I tried reusing #E3EDEF from the ballot, but it was too light so I darkened it*/

  /* grays */
  --ballot-bubble-border-gray: #666666;
  --ballot-bubble-gray: #777879;
  --ballot-bubble-filled-text-gray: #808080;
  --result-row-gray: #DADADA;
  --dark-bkg-gray: #1F1F1F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.resultTable{
  width: 100%;
  border: 1px solid black;
  margin: 0;
  border-collapse: collapse;
}

.resultTable thead {
  border: 2px solid black;
}

.resultTable th {
  min-width: 100px;
  text-align: center;
}

.resultTable td:not(:first-child) {
  text-align: center;
  border: 1px solid black;
}

.resultTable .highlight {
  background: var(--brand-gold);
}

.login-form {
  margin-bottom: 40px;
  padding-right: 30px;
  border-right: 2px solid var(--login-form-border-blue);
}

.register-form {
  margin-bottom: 40px;
  padding-left: 30px;
}

.login-components{
  display:flex;
  flex-direction:row;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control select {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.filledPhotoContainer:hover img{
  opacity: .2;
}

/* Ballot */
.ballot {
  text-align: center;
  font-size: 1em;
  background-color: white;
  color: var(--brand-black);
}

.ballot .instructions {
  font-family: Verdana, Geneva, sans-serif;
}

.ballot .footer {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}


.ballot .columnDescriptor{
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.ballot .headingPrefix {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  text-align: right;
  transform: translate(0%, 25%);
}

.ballot .rowDivider {
  width: 100%;
  height: 2px;
  background-color: var(--ballot-border-teal);
}

.ballot .row{
  padding-top: 5px;
  padding-bottom: 5px;
}

.ballot .row hr~div:nth-child(even){
  background-color: var(--ballot-even-row-teal);
}

.ballot .rowHeading{
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

.submit {
  margin: 0.5em;
  cursor: pointer;
}

.ballot .scoreColumnHeading{
  position: absolute;
  transform: translate(-50%, -45%);
  font-family: 'Archivo Black';
  font-size: 17px;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.ballot .starIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 2.2em;
}

/* Ballot Bubbles*/
.circle {
  display: inline-flex;
  flex-direction:column;
  width: calc(6*.32em);
  height: calc(5*.32em);
  font-size: .8em;
  border: 2px solid var(--ballot-bubble-border-gray);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  justify-content: center;
}

/* :enabled doesn't work, but :not(:disabled) does */
.circle.unblurred{
  cursor: pointer;
}

.circle.filled,
.oval.filled {
  background-color: black;
}

.circle.unblurred:hover,
.oval.unblurred:hover {
  background-color: var(--ballot-bubble-hover-ltblue);
  transition: background-color 200ms;
}

.error .oval.filled:hover {
  background-color: var(--brand-red) !important;
}

.circle.filled:hover {
  background-color: var(--brand-black);
  color: var(--ballot-bubble-filled-text-gray);
  transition: color 200ms;
}

.circle p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Archivo Black';
  font-size: 12px;
  font-weight: bold;
}

/* Results */
.resultWidget {
  display: flex;
  flex-direction: column;
}

.resultWidget .scoreRound {
  background-color: #2AA2B3;
}

.resultWidget .runoffRound {
  background-color: #1F1F1F;
}

.resultWidget h2{
  align-self: center;
}

.resultWidget .resultStar{
  color: #FFD956;
}

.resultWidget .arrow{
  position: relative;
  top: .35rem;
  left: .25rem;
}

.resultWidget .votingMethod{
  align-self: flex-end;
  color: #808080;
  font-size: .8rem;
}

.resultWidget .graphs p{
  margin: 0;
}

.resultWidget .graphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.resultWidget .graph {
  width: 90%;
  padding: 18px;
  padding-top: 0px; /* the margin from the h3 tags is enough */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailExpanderGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.statsWidget strong{
  font-size: 1.3rem;
  color: var(--brand-blue);
}

.recharts-wrapper{
  padding: 0;
}

/* HACK: The log statements were widening the display and this is a quick fix */
.detailedSteps{
  max-width: 550px;
}

.winnerResult{
  border: 1px solid var(--brand-gray-2);
  border-top: 1px solid transparent;
  display: none;
  padding: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.activeWinnerResults{
  display: block;
}

.winnerResultTab{
  width: 100%;
  border: 1px solid var(--brand-gray-2);
  background-color: var(--brand-gray-1);
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.activewinnerResultTab{
  border-bottom: 1px solid transparent;
  background-color: var(--brand-white);
}

.featuredElection:hover{
  /*Copied from Paper elevation 8, except for color change and doubled opacity*/
  box-shadow:
    0px 5px 5px -3px rgba(var(--brand-ltblue-comma), 0.4),
    0px 8px 10px 1px rgba(var(--brand-ltblue-comma), 0.28),
    0px 3px 14px 2px rgba(var(--brand-ltblue-comma), 0.24);
}