* {
  box-sizing: border-box;

  /* NOTE: these variables are named based on where they're used
  but in the future we should consider reducing them and giving generic names*/

  /* NOTE: we also have colors defined in theme.js, the colors might be moved from
  css to theme.js in the future */

  /* https://docs.google.com/presentation/d/1NSAirKzmq4YyUPB56NR3pKiRTn3W9btwnUtHi_zteeU/edit#slide=id.g827b1a2992_5_86*/
  --brand-purple: #4D2586;
  --brand-ltblue: #2AA2B3;
  --brand-blue: #02627C;
  --brand-gold: #FFE156;
  --brand-red: #EE2C53;
  --brand-orange: #FF9900;
  --brand-green: #60B33C;
  --brand-black: #000000;
  --brand-white: #FFFFFF;

  /* https://docs.google.com/presentation/d/1NSAirKzmq4YyUPB56NR3pKiRTn3W9btwnUtHi_zteeU/edit#slide=id.g177cd3ac88b_0_0 */
  --brand-gray-1: #1F1F1F; /* Charcoal used in "How does STAR Voting Work?" graphic */
  --brand-gray-2: #666666; /* Bubbles on ballots */
  --brand-gray-3: #999999; /* Lines separating candidates on ballot */
  --brand-gray-4: #CCCCCC; /* Stars on STAR ballots */
  --brand-gray-5: #ECECEC; /* Highlight for alternating candidates on ballots */
  --brand-gray-alpha: #7B7B7B7D; /* For graying out candidates for the "How does STAR Voting Work?" Graphic (has transparency)

  /* teal / blue */
  --ballot-even-row-teal: #E3EDEF;
  --ballot-border-teal: #B5D0D4;
  --ballot-star-teal: #A2C4C9;
  --logo-teal: #76A5AF;
  --ballot-bubble-hover-ltblue: #B5EBEB;
  --login-form-border-blue: #4682B4; /*steelblue*/
  --ballot-race-icon-teal: #66A0AA; /* NOTE: I tried reusing #E3EDEF from the ballot, but it was too light so I darkened it*/

  /* grays */
  --ballot-bubble-border-gray: #666666;
  --ballot-bubble-gray: #777879;
  --ballot-bubble-filled-text-gray: #808080;
  --result-row-gray: #DADADA;
  --dark-bkg-gray: #1F1F1F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.matrix th {
  min-width:60px;
  text-align: center;
}
.matrix td {
  text-align: center;
}

td.highlight {
  background: var(--result-row-gray);
}

.login-form {
  margin-bottom: 40px;
  padding-right: 30px;
  border-right: 2px solid var(--login-form-border-blue);
}

.register-form {
  margin-bottom: 40px;
  padding-left: 30px;
}

.login-components{
  display:flex;
  flex-direction:row;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control select {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

/* Ballot */
.ballot {
  text-align: center;
  font-size: 1em;
  background-color: white;
  color: var(--brand-black);
}

.ballot .instructions {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  padding: 0cm 2cm .2cm 2cm;
}

.ballot .footer {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  padding: .4cm 2cm 0cm 2cm;
}


.ballot .columnDescriptor{
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.ballot .headingPrefix {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  text-align: right;
  transform: translate(0%, 25%);
}

.ballot .rowDivider {
  width: 100%;
  height: 2px;
  background-color: var(--ballot-border-teal);
}

.ballot .row{
  padding-top: 5px;
  padding-bottom: 5px;
}

.ballot .row hr~div:nth-child(even){
  background-color: var(--ballot-even-row-teal);
}

.ballot .rowHeading{
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

.submit {
  margin: 0.5em;
  cursor: pointer;
}

.ballot .scoreColumnHeading{
  position: absolute;
  transform: translate(-50%, -45%);
  font-family: 'Archivo Black';
  font-size: 1.02em;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.ballot .starIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  font-size: 2.2em;
}

/* Ballot Bubbles*/
.circle {
  display: inline-flex;
  flex-direction:column;
  height: 1.9em;
  width: 1.9em;
  font-size: .8em;
  border: 2px solid var(--ballot-bubble-border-gray);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.circle.filled,
.oval.filled {
  background-color: black;
}

.circle:hover,
.oval:hover {
  background-color: var(--ballot-bubble-hover-ltblue);
  transition: background-color 200ms;
}

.error .oval.filled:hover {
  background-color: var(--brand-red) !important;
}

.circle.filled:hover {
  background-color: var(--brand-black);
  color: var(--ballot-bubble-filled-text-gray);
  transition: color 200ms;
}

.circle p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Archivo Black';
  font-size: .95em;
  font-weight: bold;
}