@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: max-content;
  min-width: 400px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.cell {
  background: #ffffff;
  margin: 5px;
  padding: 10px 20px;
}

.cell.reminder {
  border-left: 5px solid green;
}

.cell h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .matrix table th, td, thead, tr, tbody {
  border: 1px solid rgba(100, 100, 100, 0.39);
} 
.matrix th, td {
  border: 1px solid rgba(100, 100, 100, 0.39);
}
.matrix th,thead,tr,tbody {
  text-align: center;
}
.matrix th {
  text-align: center;
  overflow-wrap: break-word;
}
.matrix thead {
  text-align: center;
}
.matrix tr {
  text-align: center;
}
.matrix tbody {
  text-align: center;
}
.matrix table {
  table-layout: fixed;  
}
*/

.matrix th {
  min-width:60px;
  text-align: center;
}
.matrix td {
  text-align: center;
}


td.highlight {
  background: #dadada;
}

.login-form {
  margin-bottom: 40px;
  padding-right: 30px;
  border-right: 2px solid steelblue;
}

.register-form {
  margin-bottom: 40px;
  padding-left: 30px;
}

.login-components{
  display:flex;
  flex-direction:row;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control select {
  width: 300px;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}
/*
footer {
  margin-top: 30px;
  text-align: center;
}




body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  text-align: left;
  padding: 0;
}
.App {
  color: white;
}
.rotate {
  transform: rotate(-3.5deg);
}
.unrotate {
  transform: rotate(3.5deg);
}
.banner {
  height: 100px;
  margin-bottom: 20px;
}

.banner > div {
  transform: rotate(-3.5deg);
  position: absolute;
  top: -40px;
  left: -120px;
  width: 2000px;
  height: 90px;
  background-color: #ee2c53;
  padding-left: 150px;
  padding-top: 0em;
  margin: 0em 0em 0em 2em;
}
.banner h1 {
  position: absolute;
  left: 230px;
  top: 0px;
  margin: 0;
  padding: 0;
  font-size: 48px;
}
.banner img {
  position: relative;
  left: -55px;
  top: -15px;
}
.mainmenu {
  z-index: 0;
  position: absolute;
  top: 55px;
  left: 210px;
  font-size: 20px;
}
.mainmenu > div {
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
  padding: 4px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
a:hover,
.link:hover,
.mainmenu > div:hover,
.mainmenu > div.selected:hover,
button:hover,
button.primary:hover {
  background-color: #ff9900;
  color: black;
}
.mainmenu > div.selected {
  font-weight: bold;
  color: #ee2c53;
  background-color: #ffd956;
}

.help {
  margin: 0em 2em 2em 1em;
  max-width: 400px;
  background-color: #ffd956;
  color: black;
  padding: 2em 2em 2em 3em;
}
.help .close {
  float: right;
  margin-top: -20px;
  margin-right: -20px;
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}
.help .close:hover {
  background-color: #ff9900;
}

.help h1 {
  font-size: 2.5em;
}
h1 {
  padding: 0px 0px 4px 0px;
  margin: 0px;
  font-size: 1.5em;
}
h2 {
  padding: 0px 0px 2px 0px;
  margin: 0px;
  font-size: 1.25em;
  text-align: center;
}
h3 {
  padding: 0px 0px;
  margin: 0px 0.2em 0.1em 0px;
  font-size: 1em;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}
.wrapper .star {
  color: white;
  background: #2aa2b3;
  padding: 0.5em 0.5em;
  border-radius: 3px;
  width: 100%;
}
.wrapper .star > div {
  background: white;
  margin: 0em 0.5em 1em 0.5em;
  padding: 0em 0em 0em 0em;
  margin-bottom: 0.5em;
  color: black;
  font-weight: bold;
}

.wrapper .star h1:hover {
  /* color: blue; 
  cursor: default;
}

.tight {
  margin: 0;
  padding: 0;
  color: #007500;
}
.fullwidth {
  width: 100%;
}
.center {
  text-align: center;
  margin: auto;
}

.support {
  margin-top: 2px;
  height: 1.25em;
}

.editmode textarea {
  width: 98%;
  height: 65vh;
  font-size: 14px;
}

.editmode input {
  width: 98%;
  font-size: 16px;
}

button {
  font-size: 1em;
  background-color: #2aa2b3;
  border: none;
  text-decoration: none;
  margin-left: 1em;
  padding: 0.25em 1em;
}

button.primary {
  font-size: 1.5em;
  background-color: #ee2c53;
  color: white;
}

.editmode h2 {
  margin-top: 0.5em;
  text-align: left;
}

.right {
  float: right;
}

.link,
.link:visited {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  margin-top: 4px;
}

.smaller {
  font-size: 80%;
}
.larger {
  font-size: 120%;
}
.topline {
  margin: 0em 2em 2em 0em;
}
.topline > div {
  background: #ff5252;
  padding: 1em;
}

.topline > div > div {
  background: white;
  padding: 1em;
}

.topline table {
  border-collapse: collapse;
}
.topline th {
  text-align: left;
  padding: 4px 8px;
  background-color: white;
  color: black;
}
.topline td {
  text-align: right;
  padding: 4px 6px;
}
.topline tr.selected > th,
h2.selected {
  background: #f9a602;
}

.votetotal {
  margin-top: -1em;
  color: black;
  padding: 0em;
}
.votetotal h3 {
  margin: 0px 0px 0px 1.5em;
}
.votetotal ul {
  margin: 0px 0px 0px 1em;
}
.compare {
  height: 49px;
  font-size: 1.25em;
}
.Win {
  background-color: #008000;
  color: white;
}
.Lose {
  background-color: #800000;
  color: white;
}
.self {
  background: #f9a602;
  color: black;
}
.h2h {
  font-size: 0.75em;
  font-weight: normal;
}
.oppose {
  padding: 0px 6px 0px 6px;
  color: black;
  background-color: white;
}

/* STAR Ballot */
.ballot {
  padding: 0.5em;
  text-align: center;
  font-size: 1em;
  background-color: white;
  color: black;
  max-width: 500px;
}

.ballot table {
  border-collapse: collapse;
  border: 0.2em solid #000000;
}

.ballot th {
  border-collapse: collapse;
  padding: 0em 0em 0em 0em;
  vertical-align: bottom;
  border-style: none;
}

.ballot td {
  border-collapse: collapse;
  border-top: 0.125em solid #808080;
  border-style: none;
}

.ballot .title {
  background-color: black;
  color: white;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  padding: 0.4em;
  border-bottom-style: hidden;
}
.ballot .instructions {
  background-color: white;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9em;
  text-align: center;
  padding: 0em 0.5em;
  min-width: 20em;
}

.ballot .columnHeading p {
  font-weight: 400;
  text-align: left;
  padding: 0em;
}
.ballot .columnHeading div {
  font-weight: 400;
  text-align: center;
  font-weight: 700;
  margin: 0em 0em 0.5em 0em;
}
.ballot .columnHeading.error,
.ballot td.error {
  background-color: #f7cbcb;
  color: red;
}
.ballot td.error > div {
  border: 1px solid #000000;
  background-color: red;
}
.error {
  color: red;
}

.ballot .rowHeading {
  font-weight: 400;
  text-align: left;
  padding: 0.5em 1em 0.5em 0.5em;
  font-size: 0.8em;
  border-bottom: 0.1em solid #808080;
  border-right: 0.1em none white;
  min-width: 12em;
}

.rowHeading .candidate {
  font-weight: bold;
  font-size: 1.25em;
  text-align: right;
}

.circle {
  display: inline-flex;
  flex-direction: row;
  height: 1.2em;
  width: 1.2em;
  border: 2px solid #808080;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
  margin: 1em;
}

.circle.filled,
.oval.filled {
  background-color: black;
}

.circle:hover,
.oval:hover {
  background-color: rgb(181, 235, 235);
  transition: background-color 200ms;
}

.error .oval.filled:hover {
  background-color: red !important;
}

.circle.filled:hover {
  background-color: black;
  color: #808080;
  transition: color 200ms;
}

.circle p {
  margin-top: -0.3em;
  margin-left: 0.05em;
  text-align: center;
  vertical-align: middle;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.35em;
  font-weight: bold;
  transform: scale(1, 0.75);
  -webkit-transform: scale(1, 0.75); /* Safari and Chrome */
  -moz-transform: scale(1, 0.75); /* Firefox */
  -ms-transform: scale(1, 0.75); /* IE 9+ */
  -o-transform: scale(1, 0.75); /* Opera */
}

td.starLabel {
  font-size: 0.75em;
  text-align: right;
}
.starHeading p {
  font-size: 1.75em;
  font-weight: 700;
  margin: 0em;
  margin-left: 0em;
  padding: 0em;
  max-height: 1.2em;
  vertical-align: bottom;
  transform: scale(1, 0.7);
  -webkit-transform: scale(1, 0.7); /* Safari and Chrome */
  -moz-transform: scale(1, 0.7); /* Firefox */
  -ms-transform: scale(1, 0.7); /* IE 9+ */
  -o-transform: scale(1, 0.7); /* Opera */
}

.rowheading .starScore td {
  text-align: right;
}

td.starScore {
  border-style: none;
  border-top: 0.1em solid #808080;
  border-bottom: 0.1em solid #808080;
}
.starWorst {
  height: 0.75em;
  float: left;
  margin-left: 0.5em;
  bottom: 0em;
  font-size: 0.75em;
  vertical-align: bottom;
}
.starBest {
  height: 0.75em;
  float: right;
  margin-right: 0.5em;
  bottom: 0em;
  font-size: 0.75em;
  vertical-align: bottom;
}
.submit {
  margin: 0.5em;
  cursor: pointer;
}
/*
.wrapper .classic {
  color: black;
  background: white;
  padding: 0.5em 0.5em;
  margin-right: 2em;
  border-radius: 3px;
}
.wrapper .classic > div {
  background: white;
  margin: 0em 0.5em 1em 0.5em;
  padding: 0em 0em 0em 0em;
  margin-bottom: 0.5em;
  color: black;
  font-weight: bold;
}

div.election {
  border: 2px solid rgb(0, 0, 0);
  max-width: 500px;
  background-color: rgb(83, 83, 83);
}
.card {
  display: flex;
  flex-direction: column;
  margin:10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  max-width: 500px;
}

.card__cover {
  /* height: 150px; 
  width: 100%;
}

.card__content {
  /* Take available height 
  flex: 1;
} */